<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auth Application</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="/js/enroll.js"></script>



</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <%- include('../partials/_banner.ejs') %>

      <%- include('../partials/_breadcrumbs.ejs') %>

        <main>

          <section>
            <div class="container">
              <h2>
                <%= activity.title %>
              </h2>
              <div class="subContainer">
                <div class="leftSection">
                  <img class="activityImage" src="<%= activity.imagePath || 'https://picsum.photos/200/300' %>"
                    alt="Activity Image" />
                  <p>Start Date: <%= activity.startDate.toLocaleDateString('en-US', { year: 'numeric' , month: 'short' ,
                      day: 'numeric' }) %>
                  </p>

                  <p>End Date: <%= activity.endDate.toLocaleDateString('en-US', { year: 'numeric' , month: 'short' ,
                      day: 'numeric' }) %>
                  </p>

                  <p>Completion Points: <%= activity.points %>
                  </p>

                  <div id="popup-<%= activity._id %>" class="popup hidden">
                    <span class="close-btn" data-activity-id="<%= activity._id %>">&times;</span>

                    <div class="popup-content">
                      <h3>Enrolled Volunteers</h3>
                      <ul>
                        <% activity.enrolled.forEach(volunteer=> { %>
                          <li>
                            <%= volunteer.username %>
                          </li>
                          <% }) %>
                      </ul>
                    </div>
                  </div>


                  <p>Owner: <%= activity.owner.username %>
                  </p>

                </div>
                <div class="rightSection">
                  <p>
                    <%= activity.description %>
                  </p>
                </div>
              </div>

              <div class="buttonsContainer">

                <% const isEnrolled=activity.enrolled.some(enrolledUser=> enrolledUser._id.toString() === user._id.toString()); %>
                  <div class="button">
                    <button class="<%= isEnrolled ? 'enrolled' : 'enrol-now' %>"
                      onclick="Enroll(this, '<%= activity._id %>')">
                      <%= isEnrolled ? 'Enrolled' : 'Enroll Now' %>
                    </button>
                  </div>

                  <div class="button">
                    <button class="enrollment-info" tag="<%= activity._id %>">
                      Enrollment: <span id="<%= activity._id %>">
                        <%= activity.enrolled.length %>
                      </span> Volunteers
                    </button>
                  </div>

                  <% if (activity.owner._id.equals(user._id)) { %>
                    <form action="/activities/<%= activity._id %>/edit" method="GET">
                      <button type="submit">Edit this Activity</button>
                    </form>

                    <form action="/activities/<%= activity._id %>?_method=DELETE" method="POST">
                      <button type="submit">Delete this Activity</button>
                    </form>
                    <% } %>

              </div>

            </div>



          </section>


        </main>

        <%- include('../partials/_footer.ejs') %>

</body>

</html>