<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volunteers Hub</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="/js/enroll.js"></script>

</head>

<body>
  <%- include('./partials/_navbar.ejs') %>
  <%- include('./partials/_banner.ejs') %>

  <main>
      <h1 class="title">ACTIVITIES</h1>

      <section>
        <div class="grid-container">
          <% activities.forEach(activity=> { %>

            <div class="card">
                          <a href="/activities/<%= activity._id %>" class="card-link">

              <img src="<%= activity.image || 'https://picsum.photos/200/300' %>" alt="Activity Image" />
              <div class="card-content">
                <h2>
                  <%= activity.title %>
                </h2>
                <p><strong>Start Date:</strong>
                  <%= activity.startDate.toLocaleDateString('en-US', { year: 'numeric' , month: 'short' , day: 'numeric'
                    }) %>
                </p>
                <p><strong>End Date:</strong>
                  <%= activity.endDate.toLocaleDateString('en-US', { year: 'numeric' , month: 'short' , day: 'numeric'
                    }) %>
                </p>
                <p><strong>No. of Enrolled:</strong>
                  <span id="<%= activity._id %>"><%= activity.enrolled.length %></span>
                </p>
                <p><strong>Completion Points:</strong>
                  <%= activity.points %> Points
                </p>
</a>
                <div class="button">
                  <br>
                  <% if (!user) { %>
                    <button onclick="window.location.href='auth/sign-up'" class="join">Join to Enroll</button>
                    <% } else { %>
                      <% const isEnrolled=activity.enrolled.some(id=> id.toString() === user._id.toString()); %>
                        <button class="<%= isEnrolled ? 'enrolled' : 'enrol-now' %>"
                          onclick="Enroll(this, '<%= activity._id %>')">
                          <%= isEnrolled ? 'Enrolled' : 'Enrol Now' %>
                        </button>
                        <% } %>

                </div>

              </div>
               
            </div>

           
            <% }) %>

        </div>
      </section>

      <h1 class="title">TOP VOLUNTEERS</h1>

      <section>

        <ol>
          <% topVolunteers.forEach(v=> { %>
            <li>
              <%= v.username %> - <%= v.totalPoints %> Points
            </li>
            <% }) %>
        </ol>

      </section>
    </main>

    <%- include('./partials/_footer.ejs') %>

</body>

</html>